<p id="notice"><%= notice %></p>

<h1>Akshays</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @akshays.each do |akshay| %>
      <tr>
        <td><%= akshay.name %></td>
        <td><%= akshay.age %></td>
        <td><%= link_to 'Show', akshay %></td>
        <td><%= link_to 'Edit', edit_akshay_path(akshay) %></td>
        <td><%= link_to 'Destroy', akshay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Akshay', new_akshay_path %>
