<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @akshay.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @akshay.age %>
</p>

<%= link_to 'Edit', edit_akshay_path(@akshay) %> |
<%= link_to 'Back', akshays_path %>
